
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
body{
  font-family: 'Inter', sans-serif;
}
header{
  z-index: 10001 !important;
  background-color: white;
}
.upperlink {
  @apply text-2xl font-semibold flex items-center space-x-3;
}
.topSection{
  min-height: 100vh;
  min-width: 100%;
  margin-top: 6%;
  @apply w-full max-w-screen-2xl
         flex justify-between
         lg:pl-12 
         pl-3 
         mt-20
        

}
.leftContainer{
  @apply w-1/2
         flex
         flex-col
         pl-2
}
.blob{
  width: 10em;
  height: 10em;
  position: absolute;
  right: -5em;
  top: -9em;
  z-index: -1;
  transform: rotate(-30deg);
  
}
.image{
  width: 100%;
  height: auto;
  max-height: max-content;
}
.image .car{
  width: 100%;
  height: auto;
  max-height: max-content;
}
.car{
  width: auto;
  height: 10em;
  right: -6em;
  position:absolute;

}
.car img {
  width: auto;
  height: 100%;
  max-width: fit-content;
}

.textContent{
  @apply font-bold
         text-2xl 
         xl:text-5xl
         sm:text-2xl
         md:text-5xl
         lg:font-black
         md:font-extrabold
         sm:font-extrabold
         text-black
         mb-4 sm:leading-snug
         lg:leading-normal
         xl:leading-relaxed
}
.description{
    @apply text-xl lg:text-sm
           xl:text-lg 
           sm:max-h-full
           overflow-hidden
           max-h-12
           w-3/4
          
}

.rightContainer{
  @apply w-1/2
          flex flex-col
          relative
          left-0
          mt-0
          
}
.item-content{
  @apply flex justify-between items-center text-base gap-8
}
.linked{
  @apply block 
         md:text-base
       text-gray900
       hover:text-green-900 
       first:font-medium 
       text-3xl
}
.btn-primary{
  @apply  py-3 bg-other
   text-white transition-all 
   px-12 duration-300 
   rounded hover:-translate-y-4 
   hover:bg-brandPrimary 
  ml-11
 

}
.btn-login{
  @apply py-3 
          px-8 bg-brandPrimary
          text-white  
          transition-all 
          duration-300 rounded 
          hover:bg-other
          mb-4
}

.rounded-corner {
  @apply px-4 
         lg:px-14 
         max-w-screen-2xl 
         mx-auto bg-other py-16 
         rounded-tl-full 
         rounded-br-full;
} 

.rounded-c {
  @apply  bg-white py-16 
          rounded-tl-full 
          rounded-br-full;
}
.text-link{
  @apply inline-flex
          items-center rounded-lg 
          bg-brandPrimary px-4 py-2 
          text-center text-sm 
          font-medium text-white 
          hover:bg-cyan-800 
          focus:outline-none 
          focus:ring-4 focus:ring-cyan-300 
          dark:bg-cyan-600 
          dark:hover:bg-cyan-700 
          dark:focus:ring-cyan-800
          justify-between
}
.card{
 @apply mt-14 grid lg:grid-cols-3 
        md:grid-cols-2 
        grid-cols-1 
        md:w-11/12 
        mx-auto gap-12
}